body{
    cursor: none;
}

.landing {
    width: 100vw;
    height: 100vh;

    /*background: #f5eee6;*/

    background:
    linear-gradient(
        180deg,
        #f8f2ec 0%,
        #f5eee6 50%,
        #f2ebe4 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing::before {
    content: "";

    position: absolute;
    inset: 0;

    background-image: url("./assets/grain.png");
    background-repeat: repeat;
    background-size: 500px;

    opacity: 0.2;

    pointer-events: none;
}
.landing{
    position: relative;
}

.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;;
    animation: fadein 2s ease-out;
}

.title {
    font-size: 5rem;
    color: #3e080c; 
}

.eyebrow {
    font-size: 2rem;
    color: #3e080c;
}

.subtitle {
    font-size: 2rem;
    color: #3e080c;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cursor-star {
    position: fixed;

    left: 0;
    top: 0;

    pointer-events: none;

    color: #3e080c;

    font-size: 1.2rem;

    z-index: 9999;

    transform: translate(-50%, -50%);

    text-shadow:
        0 0 12px rgba(200, 142, 167, 0.35);

    filter:
        drop-shadow(0 6px 12px rgba(62, 8, 12, 0.15));

    transition: transform 0.15s ease;    
}